@import '_reset';
@import './settings/_fonts';
@import './settings/_colors';
@import './homeHeader.scss';
@import './homeThreeColumns.scss';
body {
    font-family: $font-base;
    margin: 20px 20px;
}

button {
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

Link {
    text-decoration: none;
    font-family: $font-base;
}